#root {
    --primary: var(#1db954);
    --secondary: var(gray);
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: transparent;
}

body {
    background-color: #13141b;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
  
  .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
  }

  .btn {
    border-radius: 1.5rem;
    padding: 8px 35px;
  }
  
  